<main id="note-wall-container">
    
</main>

<section id="note-container">
    <div id="note-display">
        <button id="note-btn-exit" onclick="closeNoteAnim()">X</button>

        <div id="note-display__new">
            {{> modal }}
        </div>

        <div id="note-display__read">

        </div>
    </div>
</section>