<section>
    <button id="create-note">Create note</button>
    <button id="more-notes">Get more notes</button>
</section>
<main id="note-wall-container">

</main>

<section id="modal-wrapper">
    <div id="modal">
        <button id="note-btn-exit" onclick="closeNoteAnim()">X</button>

        <div id="modal-read">
            {{> modal }}
        </div>
            
        <div id="modal-new">
            <form>
                <input type="text" id="newNoteText" placeholder="Enter Text"></input>
                <button type="submit" id="add-btn">Submit</button>
            </form>
        </div>
    </div>
</section>