// SCSS is FREAKING awesome. Ask me about it and I can explain it better over zoom. In a nutshell, it makes css easier to write. - Tyler

$clr-red: #C90A0D;
$clr-navy: #19183d;
$clr-blue: #2C11F2;
$clr-cyan: #1ADBA8;
$clr-beige: #9ba0b3;
$clr-paper: #edeee4;


body {
    background-color: $clr-navy;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header {
    text-align: center;
}

#note-wall-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    @media only screen and (max-width: 425px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    margin-top: 3%;
    margin-left: 14%;
    margin-bottom: 2%;
    width: 70vw;
    height: 65vh;

    background-image: url("../img/cork-xsm.jpg");
    background-size: 50%;
    
    background-color: $clr-beige;
    border-radius: 25px;

    .wallnote {
        margin: auto 1vw;
        position: relative;
        width: min(70px, 10vw);
        cursor: pointer;

        img {
            position: relative;
        }
        // The following code was for the hole that the note was going to be in:
        // height: auto;
        // padding-top: min(70px, 10vw); // Padding top needs to be the same as width to keep the circle shape. See here: https://css-tricks.com/forums/topic/css-responsive-circles/
        // background-color: $clr-red;
        // border-radius: 100%;
    }
}

#modal-wrapper {
    // This will make the form absolute, and center position it
    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    margin: auto;
    opacity: 0;

    #note-btn-exit {

    }
    
    #modal {    
        position: relative;
        margin: auto;
        top: -20vh;
        height: 40vh;
        width: 40vw;
        background-image: url("../img/crumpled-paper.jpg");
        background-color: $clr-paper;
        border: $clr-navy 2px solid;
        border-radius: 10px;
        opacity: 1;
    }

    #modal-new-wrapper, #modal-read-wrapper {
        height: 100%;
        width: 100%;
    }

    #modal-read {
        height: 100%;
        display: grid;
        grid-template-rows: [start] 1fr [body-start] 4fr [body-end] 1fr [end];
        grid-template-columns: [start] 1fr 1fr 1fr [bottom] 1fr 1fr 1fr[end];

        #modal-views {
            // margin-top: 3%;
            // margin-left: 1%;
            grid-column: start 1 / 4;
            // grid-row: bottom;
        }

        #modal-text {
            
            grid-row: body-start / body-end;
            grid-column: start / end;
            text-align: center;
            align-self: center;
        }

        .note-btn-exit {
            grid-column: start 1 / 2;
            // background: url("../img/blue-push-pin.png");
            border-radius: 25px;
        }
    }

    #modal-new {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        #newNoteText {
            grid-column: 1 / end;
            grid-row: 1 / 3;
        }

        .note-btn-exit {
            grid-row: 3;
            grid-column: 1 / 3;
        }

        #add-btn {
            grid-row: 3;
            grid-column: 3 / 5;
        }
    }

}

#more-notes {
    color: white;
  }
  
  #total-notes {
    margin-top: 10px;
    color: white;
    font-family: 'Syne Mono', monospace;
    font-size: large;
    font-weight: 900;
  }
  
  .total-wrap {
    /* background-image: linear-gradient(rgb(29, 63, 216, 0.1), rgb(29, 63, 216, 0.3));
    width: fit-content; */
    background: -webkit-linear-gradient(rgba(21, 64, 255, 0.712), rgba(21, 64, 255, 0.712), rgba(0, 193, 252, 0.3), rgba(0, 193, 252, 0.3), rgba(33, 255, 225, 0.712));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #create-note {
    margin-top: 25px;
    margin-left: 3.5px;
    border-radius: 25px;
    background-image: url(../img/crumpled-paper.jpg);
    background-size: 100%;
    color: black;
    font-weight: 600;
    font-family: 'Syne Mono', monospace;
  
  }
  
  #create-note:hover {
    transform: scale(1.1, 1.1);
  }
  
  #more-notes {
    margin-top: 6px;
    margin-left: 3.5px;
    border-radius: 25px;
    background-image: url(../img/crumpled-paper.jpg);
    background-size: 100%;
    color: black;
    font-weight: 600;
    font-family: 'Syne Mono', monospace;
  }
  
  #more-notes:hover {
    transform: scale(1.1, 1.1);
  } 

  #app-title {
      margin-bottom: 2%;
      font-family: 'Architects Daughter', cursive;
      font-size: 60px;
      font-weight: 600;
      color: #29a8f1;
  }

  #instructions {
    margin-left: 5%;
    font-family: 'Syne Mono', monospace;
    font-size: large;
    font-weight: 600;
    color: #29c2f1;
  }