// SCSS is FREAKING awesome. Ask me about it and I can explain it better over zoom. In a nutshell, it makes css easier to write. - Tyler

$clr-red: #C90A0D;
$clr-navy: #252359;
$clr-blue: #2C11F2;
$clr-cyan: #1ADBA8;


body {
    background-color: $clr-navy;
}