body {
  background-color: #19183d;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#note-wall-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 5% auto;
  width: 70vw;
  height: 65vh;
  background-color: #9ba0b3;
  border-radius: 25px;
}
@media only screen and (max-width: 425px) {
  #note-wall-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
#note-wall-container .wallnote {
  margin: auto 1vw;
  position: relative;
  width: min(70px, 10vw);
  cursor: pointer;
}
#note-wall-container .wallnote img {
  position: relative;
}

#modal-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 100vh;
  margin: auto;
  opacity: 0;
}
#modal-wrapper #modal {
  position: relative;
  margin: auto;
  top: -20vh;
  height: 40vh;
  width: 40vw;
  background-color: #edeee4;
  border: #19183d 2px solid;
  border-radius: 10px;
  opacity: 1;
}

#create-note {
  color: white;
}

#more-notes {
  color: white;
}

/* Desmond Stylin' */

#total-notes {
  margin-top: 15px;
  margin-left: 30px;
  color: white;
}

.total-wrap {
  /* background-image: linear-gradient(rgb(29, 63, 216, 0.1), rgb(29, 63, 216, 0.3));
  width: fit-content; */
  background: -webkit-linear-gradient(rgba(21, 64, 255, 0.712), rgba(21, 64, 255, 0.712), rgba(0, 193, 252, 0.3), rgba(0, 193, 252, 0.3), rgba(33, 255, 225, 0.712));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#create-note {
  margin-left: 3.5px;
  border-radius: 25px;
  background-image: url(../img/crumpled-paper.jpg);
  background-size: 100%;
  color: black;
  font-family: 'Syne Mono', monospace;
  
}

#create-note:hover {
  transform: scale(1.1, 1.1);
}

#more-notes {
  margin-left: 3.5px;
  border-radius: 25px;
  background-image: url(../img/crumpled-paper.jpg);
  background-size: 100%;
  color: black;
  font-family: 'Syne Mono', monospace;
}

#more-notes:hover {
  transform: scale(1.1, 1.1);
}